//slurmqueue="common,dedicated"
//slurmqos="--qos=fast"
slurmqueue = 'cnrvir'
slurmqos = '-A cnrvir'

// Perform work directory cleanup after a successful run
//cleanup = true

env {
    NXF_OPTS='-Dnxf.pool.type=sync'
}

executor {
    name = 'slurm'
    queueSize = 2000
}

report {
       enabled = true
       file = 'reports/report.html'
}

trace {
    enabled = true
    file = 'reports/trace.txt'
}

timeline {
    enabled = true
    file = 'reports/timeline.html'
}

dag {
    enabled = true
    file = 'reports/dag.dot'
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '--home $HOME:/home/$USER --bind /pasteur'
    cacheDir = 'singularity'
}


params {
    sequences = "data/sequences.fasta"
    metadata = "data/metadata.csv"
}

process {
    executor='slurm'
    queue = "$slurmqueue"
    clusterOptions = "$slurmqos"
    scratch=false
    maxRetries=30
    errorStrategy='retry'

    withLabel: 'map' {
        container='evolbioinfo/minimap2:v2.24'
    	cpus=1
        memory='2G'
    }
    
    withLabel: 'gofasta' {
        container="quay.io/biocontainers/gofasta:1.1.0--h9ee0642_0"
        cpus=1
        memory='500M'
    }

    withLabel: 'goalign' {
        container="evolbioinfo/goalign:v0.3.6a"
        cpus=1
        memory='500M'
    }

    withLabel: 'python' {
        container="evolbioinfo/python-evol:v3.8.2b"
    }
}

profiles {
  debug {
    cleanup = false
  }
  local {
    executor='local'
  }
}
